@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --space-cadet: #141b51;
  --wheat: #e1ca96;
  --wild-blue-yonder: #adb9e3;
  --red-crayola: #ed254e;
  --nickel: #626c66;
}

body {
  font-family: 'Odibee Sans', cursive;
}
/******Nav Links******/

.navbar {
  background-color: var(--space-cadet) !important;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;

}

nav a {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--wheat) !important;
}

.navbar-brand {
  color: var(--wheat) !important;
}

.faBars {
  color: var(--wheat) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid var(--red-crayola);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--red-crayola);
}